<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg3_layer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,240}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>bg3_layer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,106},{768,64}}</string>
                <key>offset</key>
                <string>{0,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{768,64}}</string>
                <key>sourceSize</key>
                <string>{768,384}</string>
            </dict>
            <key>bg3_layer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{480,100}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,109},{480,100}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>bg3_layer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{476,98}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,113},{476,98}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg3.png</string>
            <key>size</key>
            <string>{1448,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60343792252ae012316ba8bae752becc:00f94912bc5d453328841fd502595faf:757654dcae0f698b73d50641fc25461f$</string>
            <key>textureFileName</key>
            <string>bg3.png</string>
        </dict>
    </dict>
</plist>
