<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg5_layer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,240}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>bg5_layer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{480,138}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{480,138}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg5.png</string>
            <key>size</key>
            <string>{968,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fa655084d47210752fc9259c3687a40:7b0e686b385aa2251e60deffee605db2:04620d04a1dc314908b0b4bb998798fe$</string>
            <key>textureFileName</key>
            <string>bg5.png</string>
        </dict>
    </dict>
</plist>
