<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2_layer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,960}}</string>
                <key>sourceSize</key>
                <string>{1920,960}</string>
            </dict>
            <key>bg2_layer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,2},{1920,438}}</string>
                <key>offset</key>
                <string>{0,-261}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,522},{1920,438}}</string>
                <key>sourceSize</key>
                <string>{1920,960}</string>
            </dict>
            <key>bg2_layer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{1920,470}}</string>
                <key>offset</key>
                <string>{0,-245}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,490},{1920,470}}</string>
                <key>sourceSize</key>
                <string>{1920,960}</string>
            </dict>
            <key>bg2_layer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,2},{1920,444}}</string>
                <key>offset</key>
                <string>{0,-258}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,516},{1920,444}}</string>
                <key>sourceSize</key>
                <string>{1920,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg2.png</string>
            <key>size</key>
            <string>{2328,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fbff1393813ba6d42492407a241be6d:c4026ddbe407f5031c51bc8ff7f0b35e:72760c6b65988cf2d8da3c966e9a6efb$</string>
            <key>textureFileName</key>
            <string>bg2.png</string>
        </dict>
    </dict>
</plist>
