<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg3_layer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,960}}</string>
                <key>sourceSize</key>
                <string>{1920,960}</string>
            </dict>
            <key>bg3_layer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{3072,252}}</string>
                <key>offset</key>
                <string>{0,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,312},{3072,252}}</string>
                <key>sourceSize</key>
                <string>{3072,1536}</string>
            </dict>
            <key>bg3_layer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{1920,398}}</string>
                <key>offset</key>
                <string>{0,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,438},{1920,398}}</string>
                <key>sourceSize</key>
                <string>{1920,960}</string>
            </dict>
            <key>bg3_layer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,404},{1902,388}}</string>
                <key>offset</key>
                <string>{0,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,456},{1902,388}}</string>
                <key>sourceSize</key>
                <string>{1920,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg3.png</string>
            <key>size</key>
            <string>{3848,1220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60343792252ae012316ba8bae752becc:00f94912bc5d453328841fd502595faf:757654dcae0f698b73d50641fc25461f$</string>
            <key>textureFileName</key>
            <string>bg3.png</string>
        </dict>
    </dict>
</plist>
