<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ctrl_arrowDown.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{778,863},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowLeft.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{628,778},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowRight.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{368,778},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowUp.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{778,733},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectsoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{908,733},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectson.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{498,778},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_facebook.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{778,473},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_more.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{778,603},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{908,473},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{200,935},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_pause1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{908,343},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_play1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{628,908},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_rate.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{368,908},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_settings.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{778,343},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_shoot.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{908,603},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_twit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{498,908},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_cloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,22}</string>
    <key>spriteSourceSize</key>
    <string>{64,22}</string>
    <key>textureRect</key>
    <string>{{972,164},{64,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_coin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,47}</string>
    <key>spriteSourceSize</key>
    <string>{47,47}</string>
    <key>textureRect</key>
    <string>{{972,115},{47,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,2}</string>
    <key>spriteSize</key>
    <string>{172,134}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{584,584},{172,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,12}</string>
    <key>spriteSize</key>
    <string>{166,155}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{200,778},{166,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-13}</string>
    <key>spriteSize</key>
    <string>{196,156}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{2,778},{196,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-18}</string>
    <key>spriteSize</key>
    <string>{196,145}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{778,196},{196,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_dollarbag.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{972,2},{50,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_heart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,45}</string>
    <key>spriteSourceSize</key>
    <string>{53,45}</string>
    <key>textureRect</key>
    <string>{{972,68},{53,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_helmetGreen.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,50}</string>
    <key>spriteSourceSize</key>
    <string>{55,50}</string>
    <key>textureRect</key>
    <string>{{584,720},{55,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_helmetYellow.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,53}</string>
    <key>spriteSourceSize</key>
    <string>{50,53}</string>
    <key>textureRect</key>
    <string>{{641,720},{50,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_hit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{131,936},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,24}</string>
    <key>spriteSourceSize</key>
    <string>{22,24}</string>
    <key>textureRect</key>
    <string>{{330,935},{22,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,127}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{2,936},{127,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{778,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{584,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{584,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_lock.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,584},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>star.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{126,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{908,863},{126,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{584,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,584},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,584},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1040,1067}</string>
   <key>textureFileName</key>
   <string>sprite.png</string>
  </dict>
 </dict>
</plist>
